<div class="container">
  <header id="main-header">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-5">
        <img src="assets/img/bhatt_profile.jpg" alt="sbhatt profile`">
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="d-flex flex-column">
          <div class="p-5 bg-dark text-white">
            <div class="name d-flex flex-row justify-content-between align-items-center">
              <h1 class="display-4">Sharvan Bhatt</h1>
              <div><i class="fa fa-twitter"></i></div>
              <div><i class="fa fa-facebook"></i></div>
              <div><i class="fa fa-instagram"></i></div>
              <div><i class="fa fa-github"></i></div>
            </div>
          </div>
          <div class="p-4 bg-black">
            Let's play with html
          </div>
          <div>
            <div class="d-flex flex-row text-white align-items-stretch text-center">
              <div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#home">
                <i class="fa fa-home d-block"></i>Home
              </div>
              <div class="port-item p-4 bg-success">
                <i class="fa fa-graduation-cap d-block"></i>About me
              </div>
              <div class="port-item p-4 bg-warning">
                <i class="fa fa-folder-open d-block"></i>Work
              </div>
              <div class="port-item p-4 bg-danger">
                <i class="fa fa-envelope d-block"></i>Contact
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="home" class="collapse show">
    <div class="card card-body bg-primary text-white py-5">
      <h2>Welcome to my page</h2>
      <p class="lead">
        Let's play with bootstrap......
      </p>
    </div>
    <div class="card card-body">
      <h3>Skills  s</h3>
      <p>skild adka;kadsaik</p>
      <h4>HTML</h4>
      <div class="progress mb-3">
        <div class="progress-bar bg-success" style="width:50%"></div>
      </div>
    </div>
  </div>

  <!-- -->
  <footer id="main-footer" class="p-5 bg-dark text-white">
    <div class="row">
      <div class="col-md-6">
        <a href="#" class="btn btn-outline-light">
          <i class="fa fa-cloud">downlad my card</i>
        </a>
      </div>
    </div>
  </footer>

</div>
